.btn{
    text-align: center;
    font-size: 10px;
    padding: 0 10px;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    height: 30px;
    width: 80px;
    background-color: black;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
}
.btn:hover{
    background: linear-gradient(to left, #8e2de2, #4a00e0); 
    /* font-size: 18px; */
    border: none;
    border-radius: 25px;
    color: white;
    transition: all 0.1s ease-in;
}