.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-left: 15px;
  }
  .im{
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
  }
  .txt{
    margin: 0;
    font-weight: 700;
    font-size: 80px;
  }
  