@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
}
li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    scroll-behavior: smooth;
    
}
.navbar{
    line-height: 5vh;
    height: 10vh;
    box-shadow: rgba(50,50,93,0.23) 0 30px 30px -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 30px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;

    
}
.nav-links{
    display: flex;
    justify-content: center;
    width: 75%;
}

.nav-links li{
    color: black;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
} 
.nav-links li:hover{
    color: #8e2de2;
    border-bottom: 3px solid #8e2de2;
    transition: all 0.1s ease-in;

}
#cntc{
    /* border: 3px solid black; */
    font-size: 17px;
    text-align: center;
    background-color: black;
    color: white;
}
#cntc:hover{
    background: linear-gradient(to left, #8e2de2, #4a00e0); 
    /* font-size: 18px; */
    border: none;
    border-radius: 25px;
    color: white;
    transition: all 0.1s ease-in;

}
button{
    border: none;
    background: none;
    font-size: 25px;
}
.mobile-menu-icon{
    display: none;
}
@media (max-width:768px) {
    .nav-links{
        display: none;
    }
    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        box-shadow: rgba(50,50,93,0.23) 0 30px 30px -20px;
        left: 0;
        top: 10%;
        transition: all 0.5s ease-in-out;
        width: 100%;
        background-color: white;
    }
    ul li{
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease-in-out;
        text-align: center;
    }

    .mobile-menu-icon{
        position: absolute;
        display: block;
        right: 20px;
    }
}